.mvSec {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  & .mvSecBg {
    position: absolute;
    z-index: 100;
    width: 150%;
    height: 150%;
    background-image: url("img/mv.jpg");
    background-position: 0% center;
    background-attachment: fixed;
    animation: mvSecLoad 300s !important;
    filter: contrast(1.2) brightness(0);
  }
  & .sec__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    user-select: none;
    & .mvSec__title {
      width: 100%;
      height: 100%;
      color: white;
      & .p1 {
        font-size: 7.5rem;
        letter-spacing: 50px;
        line-height: 8rem;
        animation: mvSec__titleAnime__p1 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 3s; //loading2.5s
        animation-timing-function: easeOutCirc;
        transform: translateX(600px);
        opacity: 0;
      }
      & .p2 {
        font-size: 2.7rem;
        letter-spacing: 28px;
        white-space: nowrap;
        animation: mvSec__titleAnime__p2 1s;
        animation-fill-mode: forwards;
        animation-timing-function: easeOutCirc;
        animation-delay: 3.5s; //loading2.5s
        transform: translateX(-600px);
        opacity: 0;
      }
      & .p3 {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 5px;
        & i {
          color: rgb(0, 140, 255);
        }
        text-align: center;
      }
    }
  }
  @keyframes mvSec__titleAnime__p1 {
    100% {
      transform: translateX(0);
      opacity: 1;
      letter-spacing: 27px;
    }
  }
  @keyframes mvSec__titleAnime__p2 {
    100% {
      transform: translateX(0);
      opacity: 1;
      letter-spacing: 12px;
    }
  }
  
  @keyframes mvSecLoad {
    1% {
      filter: contrast(1.2) brightness(0);
    }
    2% {
      filter: contrast(1.2) brightness(0.8);
    }
    50% {
    }
    100% {
      background-position: 100% center;
    }
  }
}

@media screen and (max-width: 900px) {
  .mvSec {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & .mvSecBg {
      position: absolute;
      z-index: 100;
      width: 150%;
      height: 150%;
      background-image: url("img/mv.jpg");
      background-position: 0% center;
      background-attachment: fixed;
      animation: mvSecLoad 300s !important;
      filter: contrast(1.2) brightness(0);
    }
    & .sec__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 200;
      user-select: none;
      margin: 0px 50px;
      & .mvSec__title {
        width: 100%;
        height: 100%;
        color: white;
        & .p1 {
          font-size: 3rem;
          letter-spacing: 50px;
          line-height: 8rem;
          animation: mvSec__titleAnime__p1 0.5s;
          animation-fill-mode: forwards;
          animation-delay: 3s; //loading2.5s
          animation-timing-function: easeOutCirc;
          transform: translateX(600px);
          opacity: 0;
        }
        & .p2 {
          font-size: 1.5rem;
          letter-spacing: 28px;
          white-space: nowrap;
          animation: mvSec__titleAnime__p2 1s;
          animation-fill-mode: forwards;
          animation-timing-function: easeOutCirc;
          animation-delay: 3.5s; //loading2.5s
          transform: translateX(-600px);
          opacity: 0;
        }
        & .p3 {
          font-size: 1.5rem;
          line-height: 3rem;
          letter-spacing: 5px;
          & i {
            color: rgb(0, 140, 255);
          }
          text-align: center;
        }
      }
    }
  }
  @keyframes mvSec__titleAnime__p1 {
    100% {
      transform: translateX(0);
      opacity: 1;
      letter-spacing: 10px;
    }
  }
  @keyframes mvSec__titleAnime__p2 {
    100% {
      transform: translateX(0);
      opacity: 1;
      letter-spacing: 5px;
    }
  }
  
  @keyframes mvSecLoad {
    1% {
      filter: contrast(1.2) brightness(0);
    }
    2% {
      filter: contrast(1.2) brightness(0.8);
    }
    50% {
    }
    100% {
      background-position: 100% center;
    }
  }
}


